<phpunit
  bootstrap="vendor/autoload.php"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true">
  <testsuites>
    <testsuite name="recipient">
      <directory>tests/Recipient</directory>
    </testsuite>
    <testsuite name="sms">
      <directory>tests/SMS</directory>
    </testsuite>
    <testsuite name="general">
      <directory>tests/General</directory>
    </testsuite>
    <testsuite name="core">
      <directory>tests/Core</directory>
    </testsuite>
    <testsuite name="apicalls">
      <directory>tests/APICalls</directory>
    </testsuite>
  </testsuites>
</phpunit>
